@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  --clr-primary: #ffeb4d;
  --clr-black: #222;
  --clr-modal-btn: rgba(45, 175, 226, 0.925);
}

body {
  background: var(--clr-primary);
}

.title {
  display: grid;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  margin: 10px;
  padding: 5px;
  background-image: linear-gradient(90deg, red, blue);
  background-clip: text;
  color: transparent;
  border: 1px solid black;
}

.subtext {
  font-family: "press start 2p", cursive;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  /* background-image: linear-gradient(90deg, blue, red);
  background-clip: text; */
  color: rgb(34, 33, 33);
  margin: 10px;
  padding: 5px;
}

/* @media (min-width: 30em) {
  
} */

/* @media (min-width: 10em) {
  
} */
/* .player {
  height: 40px;
  width: auto;
}

.computer {
  height: 40px;
  width: auto;
} */
.score {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  text-transform: uppercase;
  /* background-image: linear-gradient(90deg, red, blue);
  background-clip: text; */
  color: rgb(34, 33, 33);
  text-align: center;
}

.components {
  height: 50px;
  width: auto;
}

.user-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin: 25px;
  justify-items: center;
}

.selection-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  margin: 25px;
}

.selection-items {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

.btn {
  background: transparent;
  border: none;
}

.player-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.result-comments {
  display: flex;
  flex-direction: column;
  margin: 25px;
  /* width: auto; */
  /* justify-content: center; */
  align-items: center;
}

.victory-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(156, 161, 165, 0.5);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -10;
}

.open-modal {
  visibility: visible;
  z-index: 10;
}

.modal-container {
  background: var(--clr-primary);
  width: 50vw;
  height: 50vh;
  padding: 5px;
  border-radius: 0.5rem;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  position: relative;
}

.victory-header {
  font-family: "press start 2p", cursive;
  text-transform: uppercase;
}

.play-btn {
  font-family: "press start 2p", cursive;
  text-transform: uppercase;
  color: #fff;
  background: var(--clr-modal-btn);
  font-size: 0.875rem;
  border: 2px solid var(--clr-modal-btn);
  border-radius: 0.5rem;
  padding: 0.375rem 0.75rem;
}

.play-btn:hover {
  cursor: pointer;
  background: transparent;
  color: var(--clr-modal-btn);
  border: 2px solid var(--clr-modal-btn);
}
@media (min-width: 30em) {
  .title {
    display: grid;
    align-items: center;
    font-family: "Press Start 2P", cursive;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    margin: 25px;
    padding: 2px;
    background-image: linear-gradient(90deg, red, blue);
    background-clip: text;
    color: transparent;
    border: 1px solid black;
  }
  .subtext {
    font-family: "press start 2p", cursive;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(34, 33, 33);
    margin: 10px;
    padding: 5px;
  }
  .score {
    font-family: "Press Start 2P", cursive;
    font-size: 50px;
    text-transform: uppercase;
    color: rgb(34, 33, 33);
    text-align: center;
  }

  .components {
    height: 80px;
    width: auto;
  }

  .user-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    margin: 25px;
    justify-items: center;
  }

  .selection-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
  }

  .modal-container {
    background: var(--clr-primary);
    width: 30vw;
    height: 50vh;
    padding: 5px;
    border-radius: 0.5rem;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    position: relative;
  }
}
